@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    
    font-size: 30px;    
    min-height:  100vh;
    background: #1e272e;
}
.calcCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.calculator{
    position: relative;
    display: grid;
    box-shadow: 
    #2c3e50 1px 1px,
    #2c3e50 2px 2px,
    #2c3e50 3px 3px,
    #2c3e50 4px 4px,
    #2c3e50 5px 5px,
    #2c3e50 6px 6px,
    #2c3e50 7px 7px,
    #2c3e50 8px 8px,
    #2c3e50 9px 9px,
    #2c3e50 10px 10px,
    #2c3e50 11px 11px,
    #2c3e50 12px 12px,
    #2c3e50 13px 13px;
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #34495e;
    place-items: center;
    border:1px solid rgba(0,0,0,.1);
    
}
.calculator span:active{
    background: #27ae60;
    color: #111;
}
.calculator span.clear{

    grid-column: span 2;
    width: 120px;
    background: #d35400;

}
.calculator span.plus{

    grid-row: span 2;
    height: 120px;
    
}
.calculator span.igual{

    background: #3498db;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Roboto;

    text-shadow:
    #2c3e50 1px 1px,
    #2c3e50 2px 2px,
    #2c3e50 3px 3px,
    #2c3e50 4px 4px,
    #2c3e50 5px 5px,
    #2c3e50 6px 6px,
    #2c3e50 7px 7px,
    #2c3e50 8px 8px,
    #2c3e50 9px 9px,
    #2c3e50 10px 10px,
    #2c3e50 11px 11px,
    #2c3e50 12px 12px,
    #2c3e50 13px 13px,
    #2c3e50 14px 14px,
    #2c3e50 15px 15px,
    #2c3e50 16px 16px,
    #2c3e50 17px 17px,
    #2c3e50 18px 18px,
    #2c3e50 19px 19px,
    #2c3e50 20px 20px,
    #2c3e50 21px 21px;   
}